
#debug[_v-7b559a09] {
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 10000000;
    word-wrap: break-word;
    opacity: 0.5;
    overflow: scroll;
}


